body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
p{
    color: dimgray;
}
.orange-coloring{
    color: orange;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img {
    width: 100%;
}
.background-image {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 120px;
}
.adding-button {
    text-decoration: none;
    background-image: linear-gradient(pink, orchid);
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    height: 80%;

}
.experience-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;  
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}